@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");

@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p,
a,
li {
  font-weight: 500;
}
